@font-face { font-family: MyriadPro; src: url('../fonts/Myriad-ProRegular.otf'); }
.myFont {
    font-family: MyriadPro,Helvetica,Arial,sans-serif;
    font-size:1.15em;
}
.dropdown-menu li {
    padding-left: 5px;
    padding-right:5px;
    padding-bottom:2px;
}

.item > img {
    width: 100%;
    height: 700px;
    max-height: 700px;
}

@media only screen and (max-width: 768px) {
    .navbar-default .navbar-nav .dropdown .dropdown-menu a {
        width:100%;
    }
    ul.dropdown-menu.bullet.pull-center {
        width:100%;
        text-align:center;
    }
    .navbar-header {
        margin-bottom: 10px;
    }

}

@media only screen and (min-width: 600px) {
    .carousel-caption h1 {
        font-size: 80px;
    }
}
@media only screen and (max-width: 599px) {
    .carousel-caption h1 {
        font-size: 30px;
    }
}


@media only screen and (min-width: 992px) {
    .largeBlueBlock {
        color:white;
        background-color:#269abc;
        padding: 10px;
        border-radius:2px;
        font-size:2.6em;
    }
}
@media only screen and (max-width: 991px) {
    .largeBlueBlock {
        color:white;
        background-color:#269abc;
        padding: 10px;
        border-radius:2px;
        font-size:2em;
    }
}



.social {
    font-size:20px;
}

/* bootstrap css override */
.navbar-default .navbar-nav>.open>a:focus {
    background-color:white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: white;
}



ul.nav li.dropdown:hover {
    cursor: default;
}
.navbar-default .navbar-nav > .active > a {

}

#myNavbarIndex {
    background-color:white; !important;
    border-bottom:0px; !important;
    border-radius:0px; !important;
    margin-bottom:0px;
}

.open {
    background-color:white; !important
}

.dropdown li a {

}
.navbar-header > a, .nav.navbar-nav >li > a {
    padding-top:25px;
    padding-bottom:25px;
}

.dropdown > a:hover, .dropdown > a:focus {
    color: #1f30a8 !important;
    background-color:white; !important;
}

.dropdown.open:hover, .dropdown.open:focus {
    background-color:white; !important
}

.navbar-default .navbar-nav>.open>a:focus {
    background-color:white;
}

.sectionPicture {
    width:100%;
    max-height:600px;
}

.blueBlock {
    color:white;
    background-color:#269abc;
    padding: 10px;
    border-radius:2px;
}


.top-buffer {
    margin-top:10px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}





/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    margin-top:20px;
    background-color: white;
  /*  background-color: #f2f2f2;*/
}

#footer .row {
    padding-top:10px;
    border-top: solid black 1px;
    margin-bottom:10px;
}

#footer .row ul.list-unstyled li {
    margin-bottom:10px;
    font-family: MyriadPro,Helvetica,Arial,sans-serif;
    font-size:15px;
}
